#grilla{
    display: grid;
    grid-template-areas:
    "nav header header"
    "nav productos publicidad"
    "nav servicios publicidad"
    "nav footer footer";
    grid-template-rows: 100px 1fr 1fr 75px;
    grid-template-columns: 100px auto 15%;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

}

.border{
    border: 1px solid black;
}

header{
    grid-area: header;
    background-color: blue;
}
footer{
    grid-area: footer;
    background-color: green;

}
section#productos{
    grid-area: productos;
    background-color: aqua;

}
section#servicios{
    grid-area: servicios;
    background-color: cyan;

}
nav{
    grid-area: nav;
    background-color: red;

}
aside{
    grid-area: publicidad;
    background-color: darkmagenta;
}
html, body{
    height: 100%;

}
*{
    height: 100%;
}