*{
    margin: 0;
    padding: 0;

}

html{
    height: 100%;

}

body{
    height: 100%;
    display: grid;
    grid-template-areas:
    "header header"
    "nav contenido"
    "footer footer";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100px auto 100px;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    align-items: center;
    grid-area: header;
    background-color: aquamarine;

}
nav{
    grid-area: nav;
    background-color: gray;
}
section#contenido{
    background-color:rgb(210, 169, 20);
    grid-area: contenido;
    display: grid;
    grid-template-columns: repeat(3,250px);
    grid-template-rows: repeat(2,250px); 
    justify-content: center;
    align-content: center;
    grid-column-gap: 10px;
    grid-row-gap:15px;
   
}

footer{
    grid-area: footer;
    background-color: brown;
}